@font-face {
  font-family: 'MaPolicePerso';
  src: url('fonts/AnthonioScript.ttf') format('truetype');
}

@font-face {
  font-family: 'MaPolicePerso2';
  src: url('fonts/aftersickdemo-regular.otf');
}

@font-face {
  font-family: 'MaPolicePerso3';
  src: url('fonts/GalanoGrotesqueRegular.otf') format('opentype');
}

@font-face {
  font-family: 'MaPolicePerso4';
  src: url('fonts/GalanoGrotesqueBold.otf') format('opentype');
}


body {
  background-color:#121212;
  font-family: 'MaPolicePerso', sans-serif;
  overflow: hidden;
}

body.pre-fade {
  opacity: 0;
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

body.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}



/* From Uiverse.io by LightAndy1 */ 
.group {
    position: absolute;
    top: 300px;
    left: 40px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}


.cssbuttons-io-button {
    font-family: MaPolicePerso3, sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #501229;
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #501229;
    overflow: hidden;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    
}

.welcome {
  color: aliceblue;
  font-family: MaPolicePerso2, sans-serif;
  position: relative;
  top: 300px;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ff3a82;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.cssbuttons-io-button.disabled {
  pointer-events: none;
  opacity: 0.7;
}


.upload-label {
    max-width: 150px;
    text-align: center;
    font-family: 'MaPolicePerso3', sans-serif;
    position: absolute;
    top: 30%;
    left: 25%;
    color: #121212;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
}

input[type="file"] {
  display: none; /* cache le vrai bouton moche */
}

.cercle {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #636363;
    background-color: #ffffff;
    z-index: 1;
}

.cercle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


